div {
  border: 1px dashed #999;
}

@font-face {
  font-family: "Klavika Bd";
  src: url('fonts/klavika-bd.otf');
}

/* PAGE TOP BANNER */

.page-top {
  background-color: #3B5998;
  height: 110px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.content-top {
  height: 110px;
}

.logo {
  float: left;
  font: 700 52px/1px "Klavika Bd", Arial;
  color: white;
}

.sign-in-form {
  float: right;
  padding: 10px;
  margin: 10px;
}

.sign-in-form label {
  display: inline-block;
  font-size: 20px;
  font-family: Arial;
  color: white;
  margin: 5px 10px;
}

.sign-in-form input {
  display: block;
  margin: 7px 0;
}

.log-in-button {
  float: right;
  margin: 20px;
}

.log-in-button input {
  font: 700 16px "Arial";
  border-color: grey;
  border-radius: 4px;
  color: white;
  padding: 5px;
  background-color: #4267B2;
}

.log-in-button input:hover {
  background-color: #3B5998;
}


/* PAGE LEFT INFO */

.tagline {
  font: 700 24px "Arial Black";
  height: 50px;
}

.bullet-list {
  font: 600 16px/38px "Arial";
}

.page-left {
    padding-top: 90px;
    padding-left: 30px;
}

/* PAGE RIGHT INFO */

.sign-up-form input {
  display: block;
}







/* PAGE BOTTOM */

.page-bottom {
  background-color: grey;
  height: 35px;
  position: fixed; 
  bottom: 0%;
  width: 100%;
}

.page-bottom .container {
  font-family: Arial;
  font-style: italic;
  text-align: center;
  line-height: 0px;
}

